<div class="form-container container">
    <h2 class="header">{{title}}</h2>
    <div *ngIf="isDetails">
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form">
        <p>
          <mat-form-field  appearance="outline">
            <mat-label>Employee name</mat-label>
            <mat-hint>Employee name</mat-hint>
            <input matInput formControlName="name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="employeeForm.get('name')?.hasError('required')">Name is required.</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field  appearance="outline">
            <mat-label>Employee email</mat-label>
            <mat-hint>Employee email</mat-hint>
            <input matInput formControlName="email">
            <mat-error *ngIf="employeeForm.get('email')?.hasError('required')">Email is required.</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field  appearance="outline">
            <mat-label>Registration date</mat-label>
            <mat-hint>press icon to choose Day/Month/year</mat-hint>
            <input matInput [matDatepicker]="startDatePicker" formControlName="registrationDate" readonly="true" required>
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error *ngIf="employeeForm.get('registrationDate')?.hasError('required')">Date of Registration is required.</mat-error>
          </mat-form-field>
        </p>
        <p>
            <mat-form-field  appearance="outline">
              <mat-label>Job Title</mat-label>
              <mat-hint>Job Title</mat-hint>
              <input matInput formControlName="jobTitle">
              <mat-error *ngIf="employeeForm.get('jobTitle')?.hasError('required')">Job Title is required.</mat-error>
            </mat-form-field>
          </p>
        <p>
          <mat-form-field  appearance="outline">
            <mat-label>Job Description</mat-label>
            <mat-hint>Job Description</mat-hint>
            <input matInput formControlName="jobDescription">
            <mat-error *ngIf="employeeForm.get('jobDescription')?.hasError('required')">Job Description is required.</mat-error>
          </mat-form-field>      
        </p>
        <p>
          <mat-form-field  appearance="outline">
            <input matInput formControlName="phoneNumber">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>Phone number</mat-hint>
            <mat-label>Phone Number</mat-label>
            <mat-error *ngIf="employeeForm.get('phoneNumber')?.hasError('required')">Phone Number is required.</mat-error>
          </mat-form-field>
        </p>
        <p>
            <mat-form-field  appearance="outline">
              <input matInput formControlName="imageUrl">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint>Image Url</mat-hint>
              <mat-label>Image Url</mat-label>
              <mat-error *ngIf="employeeForm.get('imageUrl')?.hasError('required')">imageUrl is required.</mat-error>
            </mat-form-field>
          </p>
        <p>
          <button mat-raised-button color="primary" type="submit" [disabled]="!employeeForm.valid">Submit</button>
        </p>
      </form>
    </div>
    <div *ngIf="isLoading" class="loading-screen">
      <mat-spinner></mat-spinner>
      <p>Loading...</p>
    </div>
    <div *ngIf="isSuccess" class="success-screen">
      <mat-icon>check_circle</mat-icon>
      <p>{{successMsg}}</p>
      <button mat-raised-button color="primary" (click)="onOKButtonClicked()">OK</button>
    </div>
    <div *ngIf="isError" class="success-screen">
      <mat-icon>X</mat-icon>
      <p>Unable to create company</p>
      <p>{{errorMsg}}</p>
      <button mat-raised-button color="primary" (click)="onOKButtonClicked()">OK</button>
    </div>
  </div>
